<h1>Stupid Coaching</h1>
<p class="ask-question">Ask your coach anything</p>
<form action='/answer' method='get' class="question-form">
  <input type='text' name='user_question' placeholder='ask a question to your coach'>
  <input type="submit" value='Ask!' class="submit-button">
<form>
